<!-- Backend Bundle JavaScript -->
<script src="/js/backend-bundle.min.js"></script>

<!-- Table Treeview JavaScript -->
<script src="/js/table-treeview.js"></script>

<!-- Chart Custom JavaScript -->
<script src="/js/customizer.js"></script>

<!-- Chart Custom JavaScript -->
<script async src="/js/chart-custom.js"></script>
<!-- Chart Custom JavaScript -->
<script async src="/js/slider.js"></script>

<!-- app JavaScript -->
<script src="/js/app.js"></script>

<script src="/vendor/moment.min.js"></script>
</body>

</html>